<a href="https://colab.research.google.com/github/unt-iialab/INFO5731_Spring2020/blob/master/In_class_exercise/In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise **

(1) Write a Python program to calculate the length of a string. (2 points)

In [1]:
s = "cat"
len(s)

3

(2) Write a Python program to count the number of characters in a string. (2 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [5]:
s="google"
a_f={}
for i in s:
    if i in a_f:
        a_f[i]+=1
    else:
        a_f[i]=1
print("number of characters: \n" +str(a_f))

number of characters:
{'g': 2, 'o': 2, 'l': 1, 'e': 1}

(3) Write a Python program to sum all the items in a list. (2 points)

In [8]:
list1={2,3,4}
sum(list1)

9

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (2 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [39]:
def stringManipulate(string):
    if len(string) == 0:
        return string

    firstChar = string[0]
    for index, char in enumerate(string[1:]):
        if firstChar == char:
            string = string[:index + 1] + "$" + string[index + 2:]

    return string

string = "restart"
modifiedString = stringManipulate(string)
print (modifiedString)

resta$t

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (3 points)

In [23]:
a=int(input('a:'))
b=int(input('b:'))
s=3.14* ((1+(a/b))**3)
print(s)

a:4
b:2
84.78

(6) Write a Python program to concatenate following dictionaries to create a new one. (3 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [28]:
d1={1:10,2:20}
d2={3:30,4:40}
d3={5:50,6:60}
d4={**d1,**d2,**d3}

print(d4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (3 points)

In [33]:
t=(1,"ab",4,5,"fg")
5 in t

True

(8) Write a Python program to find maximum and the minimum value in a set. (3 points)

In [35]:
set1=set([2,4,6,4,5,1,9])
x=max(set1)
y=min(set1)
print("the maximum value in the set is",x)
print("the minimum value in the set is",y)

the maximum value in the set is 9
the minimum value in the set is 1

(9) Write a Python program to randomly divide the students in this class into five groups for term projects, each group should have at least 3 students but no more than 5 students (including 5). Here is the students list: (3 points for extra)

studnet_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159',
                'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091']

In [1]:
import random
from datetime import datetime

def getGroupSize(students_left):
    min_group_size = 3
    max_group_size = 5
    if students_left == 7:
        max_group_size = 4
    elif students_left == 6:
        max_group_size = 3
    elif students_left <= 5:
        min_group_size = students_left
        max_group_size = students_left

    return min_group_size, max_group_size

def generateGroups(student_list):
    groups = []
    while student_list:
        min_group_size, max_group_size = getGroupSize(len(student_list))
        random.seed(datetime.now())
        group_size = random.randint(min_group_size, max_group_size)
        group = []
        for _ in range(group_size):
            index = random.randint(0, len(student_list) - 1)
            student = student_list.pop(index)
            group.append(student)
        groups.append(group)
    return groups

student_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159', 'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091']

students = generateGroups(student_list)
print (students)

[['at0768', 'yye0005', 'spk0057', 'ss1995', 'vl0135'], ['sg0940', 'pn0159', 'tv0119', 'msp0174', 'mv0299'], ['rs0850', 'pc0353', 'rak0120', 'at0739', 'rrk0058'], ['snd0097', 'dd0420', 'bk0301'], ['nm0547', 'ds0761', 'vmb0067', 'dy0091']]